@charset "UTF-8";

/* 배경화면 부분 */
.wrap-login {
	position: relative;
   	left: 120px;
   	overflow: hidden;
    width: 1550px;
   	height: 535px;
    box-sizing: border-box;
    background-image : url(../images/background.png);
    background-size: 1550px 535px;
}

/* 로그인 박스 부분 */		
.login-box {
	position : relative;
	left : 1000px;
	box-sizing : border-box;
	width : 300px;
	height : 420px;
	margin : 40px;
	margin-top : 60px;
	background-color : white;
	border: 1px;
	padding : 20px;
}

/* 메인 내 정보 박스 부분 */		
.info-box {
	position : relative;
	left : 1000px;
	box-sizing : border-box;
	width : 300px;
	height : 420px;
	margin : 40px;
	margin-top : 60px;
	background-color : white;
	border: 1px;
	padding : 20px;
	border-radius:30px;
}

/*내 정보 출력 부분*/
.my-box {
	padding-top:20px;
	background-color:white;
	height:350px;
	border-radius:30px;
}

/*로그인 실패 시 경고문구*/
.login_warn {
	position:relative;
	bottom:11px;
	color: red;
	text-align: center;
	font-size: 11px;
}