@charset "UTF-8";

		
.nav {
	position: fixed;
   	top: 0;
  	left: 0;
  	bottom: 0;
   	z-index: 5;
  	width: 120px;
   	background: #113769;
   	transition: all .4s;
}

.wrap-menu {
	position : fixed;
	box-sizing: border-box;
	width: 120px;
	height: 700px;
	float: left;
  	top: 94px;
    font-size: 13px;
    color: #333;
    box-sizing: border-box;
    outline: 0 none;
    text-align: center;
}

/*메뉴 아이콘 부분*/	
.menu_logo {
	position: relative;
	width: 120px;
	height: 94px;
    font-size: 16px;
	font-weight: 700;
    color: #fff;
	text-align: center;
	box-sizing: border-box;
	background:url(../images/icon-menu.png;) 50% 5px no-repeat rgb(116, 115, 120);
	background-position: center;
	background-size:50px 70px;
}

.menulist{
	float:left;
	text-align:center;
	padding-left:0;
}
		
.menulist li {
	position: relative;
	width: 120px;
	height: 80px; 
	display:inline-block; 
	text-align:center;
	margin-top:20px;
}

.menulist li:hover {
	background: rgb(237, 193, 47);
    transition: all 0.5s;
}	